# Правила для Cline
- Отвечай строго на русском языке
- В файле /root/netology/diplom.md описаны задание на дипломный проект;
- В файле /root/netology/README.md опсан шаблон-рыба для заполнения решениями
- Анализируй код на Terraform.
- При поиске фалов сначала проверяй проект в /root/netology/stage0-bootstrap/.
- Используй технический стиль общения.

Не проверяй файлы и папки:
.gitignore
.git/
img/
mermaid/
*.log
*.tmp
__pycache__/
node_modules/
.terraform/